*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
ASP/DojoSurveyModel/appsettings.Development.json
ASP/DojoSurveyModel/appsettings.json
ASP/DojoSurveyModel/DojoSurveyModel.csproj
ASP/DojoSurveyModel/Program.cs
ASP/DojoSurveyModel/Startup.cs
ASP/DojoSurveyModel/Controllers/HomeController.cs
ASP/DojoSurveyModel/Models/Survey.cs
ASP/DojoSurveyModel/Properties/launchSettings.json
ASP/DojoSurveyModel/Views/Home/Index.cshtml
ASP/DojoSurveyModel/Views/Home/Result.cshtml
~$wProjectGuide.docx
CSharpBook2019Refresh.pdf
ORMs/LoginAndRegPlatform/Controllers/HomeController.cs
ORMs/LoginAndRegPlatform/Models/MyContext.cs
ORMs/LoginAndRegPlatform/Models/User.cs
ORMs/LoginAndRegPlatform/Models/ViewModels.cs
ORMs/LoginAndRegPlatform/Views/Home/Login.cshtml
ORMs/LoginAndRegPlatform/Views/Home/Register.cshtml
ORMs/LoginAndRegPlatform/Views/Home/Success.cshtml
ORMs/CRUDPlatform/Controllers/HomeController.cs
ORMs/CRUDPlatform/Models/Dish.cs
ORMs/CRUDPlatform/Models/DishContext.cs
ORMs/CRUDPlatform/Models/ErrorViewModel.cs
ORMs/CRUDPlatform/Views/Home/Edit.cshtml
ORMs/CRUDPlatform/Views/Home/Index.cshtml
ORMs/CRUDPlatform/Views/Home/New.cshtml
ORMs/CRUDPlatform/Views/Home/Show.cshtml
ORMs/CRUDPlatform/Views/Shared/Back.cshtml
ORMs/CRUDPlatform/Views/Shared/Error.cshtml
