@model Dojo_Survey_Model.Models.Survey;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Document</title>
</head>
<body>
        <div id="container">
        <div class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light uk-container-xsmall">
            <h3 class="uk-card-title" id="title">Submitted Info:</h3>
            <p>Name: @Model.SurveyName</p>
            <p>Location: @Model.SurveyLocation</p>
            <p>Language: @Model.SurveyLanguage</p>
            @if(Model.SurveyComments != null){
                <p>Comments: @Model.SurveyComments</p>
            }
            <a href="/">Back to survey</a>

        </div>
    </div>
</body>
</html>