@model LoginAndReg.Models.User;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register to this Cool Site!</h1>
    <h2>Totally not a scam!</h2>
        <form asp-action="CreateUser">
    <div>
        <span asp-validation-for="FirstName"></span>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName">

        <span asp-validation-for="LastName"></span>
        <label asp-for="LastName"></label>
        <input asp-for="LastName">

        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email">

        <span asp-validation-for="Password"></span>
        <label asp-for="Password"></label>
        <input asp-for="Password">

        <span asp-validation-for="Confirm"></span>
        <label asp-for="Confirm"></label>
        <input asp-for="Confirm">
    <button>Sign up Now</button>
    </form>
    </div>
    Already Registered? Login <a href="/login">Here</a></a>
</body>
</html>