@model LoginUser;
<form asp-action="Login">

    <span asp-validation-for="LoginEmail"></span>
    <label asp-for="LoginEmail"></label>
    <input asp-for="LoginEmail">

    <span asp-validation-for="LoginPassword"></span>
    <label asp-for="LoginPassword"></label>
    <input asp-for="LoginPassword">

    <button>Login</button>
</form>
