@model Wedding;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Planner</title>
</head>
<body>
    <h1>Plan Your Wedding!</h1>
    <form asp-action="AddWedding">

    <span asp-validation-for="FirstWedder"></span>
    <label asp-for="FirstWedder"></label>
    <input asp-for="FirstWedder">

    <span asp-validation-for="SecondWedder"></span>
    <label asp-for="SecondWedder"></label>
    <input asp-for="SecondWedder">

    <span asp-validation-for="WeddingDate"></span>
    <label asp-for="WeddingDate"></label>
    <input asp-for="WeddingDate">

    <span asp-validation-for="Address"></span>
    <label asp-for="Address"></label>
    <input asp-for="Address">
    <button>Add your wedding!</button>
    </form>
</body>
</html>